body {
  background-color: whitesmoke;
}
.content {
  max-width: 35rem;
  margin: auto;
  margin-top: 10rem;
  background: white;
  padding: 10px;
  border-style: groove;
  border-radius: 10px;
  text-align: center;
}

.handleInput {
    border-radius: 10px;
    border: 1px solid lightgray;
    height: 2rem;
    width: 20rem;
    margin-right: 0.5rem;
}

.cookieInput {
  border-radius: 10px;
  border: 1px solid lightgray;
  height: 4rem;
  width: 34rem;
  margin-right: 0.5rem;
}

.searchBtn {
  border-radius: 10px;
  border: 1px solid lightgray;
  width: 10rem;
  height: 2.4rem;
  text-align: center;
  margin-right: 2rem;
}

.searchBar {
  text-align: left;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profilesContent {
  height: 30rem;
  overflow-y: auto;
}

.configurationPanel {
  text-align: left;
  width: 30rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
